.ProjectGrid{
    margin-left: 10%;
}
.ProjectGrid__grid{
    display:block;   
      
    
   }
   .ProjectGrid__grid{
    display:none;   
      
    
   }
@media only screen and (min-width:768px){
    .ProjectGrid__grid{
        display:flex; 
          
        
        
       }
       .ProjectGrid__grid2{
        display:flex; 
          
        
        
       }
}
