.ProjectGrid{
    display:grid;
    place-items: center;
    width: 100%;
}

.ProjectGrid__grid{
 display:grid;   
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 80px auto 80px; 
 column-gap: 50px;
 row-gap: 250px;
 
}