.exp{
   position: relative;
   top:3rem;
   left:2%;

   font-size:0.85em;
}
.heading{
   font-size: 1.4em;
   color: rgb(0, 102, 255);
}
.expCard p{
  width: 96%;
  color: rgb(78, 78, 78);
}
@media only screen and (min-width: 320px) {

}