.skill {
  margin-top: 2%;
  width: 100%;
}
.skill__buttons button{
  display: block;
 height: 30px;
 color: white;
}
.skill__buttons__skills {
  outline:none;
  border: none;
  position: absolute;
  left: 0;
  right: 0;
  width: 50%;
  background-color: rgb(16, 148, 255);
  border-radius: 20px 0 0 0;
}
.skill__buttons__exp {
  border: none;
  outline: none;
  border-left: 1px solid rgb(255, 255, 255);
  position: absolute;
  right: 0;
  width: 50%;
  background-color: rgb(16, 148, 255);
  border-radius: 0 20px 0 0;
}
.skill__buttons__skills--selected {
    outline: none;
    border: none;
    position: absolute;
    left: 0;
    right: 0;
    width: 50%;
    border-bottom: 2px solid rgb(0, 35, 151);
    background-color: rgb(16, 148, 255);
    border-radius: 20px 0 0 0;
}
.skill__buttons__exp--selected {
    outline: none;
    border: none;
    border-left: 1px solid rgb(255, 255, 255);
    position: absolute;
    
    right: 0;
    width: 50%;
    border-bottom: 2px solid rgb(0, 35, 151);
    background-color: rgb(16, 148, 255);
    border-radius: 0 20px 0 0;
  }
@media only screen and (min-width: 768px) {
    .skill {
        margin-top: 3%;
      }
    .skill__buttons__skills {
        position:relative;
       
        width: 25%;
    }
    .skill__buttons__exp{
        position:relative;
       
        width: 25%;
    }
    .skill__buttons__skills--selected {
        position:relative;
        width: 25%;
    }
    .skill__buttons__exp--selected{
        position:relative;

        width:25%;
    }
    .skill__buttons{
       
        display:flex;
        justify-content:center;
    }
    .skill__skillsAndExperience{
    width:50%;
    position: relative;
    left:25%;
    }
}
