.contact{

    color: rgb(56, 149, 255);
}
.contact__logo{
    display: flex;
   justify-content: center;
}
.contact__logo> *{ 
  
    width: 50px;
    margin-right: 20px;
}
.contact__twitterLogo:hover{ 
    transition: transform .9s;
    transform: scale(1.5);
    
}
.contact__githubLogo:hover{
    transition: transform .9s;
    transform: scale(1.5);
}
.contact__linkedinLogo:hover{
    transition: transform .9s;
    transform: scale(1.5);
}