.navbar__lists__mobileView {
  text-decoration: none;
  list-style-type: none;
  margin-top: 0%;
  
  margin-left: 55%;
  position: fixed;

  color: rgb(255, 255, 255);
  background-color: rgb(146, 206, 255);
  z-index: 5;
  height: 100%;
  width: 100%;
}
.navbar__lists__desktop {
  display: none;
}

.navbar__lists__mobileView > * {
  margin-top: 10%;
}
.navbar__menu {
  position: fixed;
  z-index: 8;
  margin-top: 0%;
  margin-left: 73%;
}
.container {
  display: inline-block;
  cursor: pointer;
  
  
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: rgb(77, 103, 255);
  margin: 5px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
  transform: rotate(-45deg) translate(-8px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -4px);
  transform: rotate(45deg) translate(-5px, -4px);
}

@media only screen and (min-width: 100px) {
}
@media only screen and (min-width: 320px) {
  .container {
    display: block;
  }
  .navbar__lists__desktop {
    display: none;
  }

  .navbar__lists__mobileView > * {
    margin-top: 10%;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    display: none;
  }
  .navbar__menu {
    display: none;
  }
  .navbar__lists__mobileView {
    display: block;
    text-decoration: none;
    list-style-type: none;
    margin-top: -53%;
    color: rgb(255, 255, 255);
    display: flex;
    background-color: transparent;
    margin-left: 55%;
  }
  .navbar__lists__desktop {
    display: block;
    text-decoration: none;
    list-style-type: none;
    margin-top: -43%;
    color: rgb(255, 255, 255);
    display: flex;
    background-color: transparent;
    margin-left: 55%;
  }
  .navbar__lists__mobileView > * {
    display: block;
    margin-left: 4%;
    font-size: 1.1em;
  }
  .navbar__lists__desktop > * {
    display: block;
    margin-left: 8%;
    font-size: 1.1em;
  }
}
