.footer__img{
    width: 100%;
}
.footer__img{
    display: none;
}
.footer{
    margin-top: 5%;
    position: relative;
    margin-bottom: -110px;
}
.designed{
    position: absolute;
    left: 42%;
    bottom: 2%;
    color: white;
}
@media only screen and (min-width:768px){
    .footer__img{
        display: block;
    }
}