
*,*::before,*::after{
  box-sizing: border-box;
}
html,body{
  
  margin: 0;
  padding: 0;

}

.img{
  display: none;
  width:100%;
}
@media only screen and (min-width: 768px) {
  .img{
    position: absolute;
    top: 0;
    z-index: -2;
    display: block;
  }
}