
*,*::before,*::after{
  box-sizing: border-box;
}
html,body{
  
  margin: 0;
  padding: 0;

}

.img{
  display: none;
  width:50%;
}
@media only screen and (min-width: 768px) {
  .img{
    position: absolute;
    top: 10%;
    left: 25%;
    z-index: 1;
    display: block;
  }
}