.AboutMe {
  position: relative;
  left: 25%;
  top: 40px;
  font-size:0.7em;
}
.AboutMe__image {
  width: 30%;
}

@media only screen and (min-width: 320px) {
  .AboutMe {
    position: relative;
    left: 25%;
    top: 40px;
  }
  .AboutMe__image {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .AboutMe {
    position: relative;
    left: 0%;
    top: 200px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .AboutMe__image {
    width: 30%;
  }
}

@media only screen and (min-width: 1024px) {
  .AboutMe {
    position: relative;

    top: 400px;
   
  }

 
}