.AboutMe {
  margin-top:30%;
  font-size:0.7em;
}
.AboutMe__image {
  width: 25%;
}
.AboutMe__text{
  width: 95%;
}

.AboutMe__text h1{
  color: rgb(35, 174, 255);
}
.AboutMe__text p{
 color: rgb(78, 78, 78);
}


@media only screen and (min-width: 320px) {
  .AboutMe {
  display:grid;
  place-items: center;
  }
  .AboutMe__image {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .AboutMe__text{
    width: 50%;
  }
  .AboutMe__text p{
    width: 80%;
  }
  .AboutMe {
    font-size:1em;
    margin-left:0;
    display: flex;
    flex-direction: row-reverse;
     justify-content: space-around;
  }

  .AboutMe__image {
    width: 25%;
  }
}

@media only screen and (min-width: 1024px) {
  .AboutMe {
    top: 400px;
   
  }

 
}