.AboutMe {
  margin-top:30%;
  font-size:0.7em;
}
.AboutMe__image {
  width: 25%;
}

@media only screen and (min-width: 320px) {
  .AboutMe {
  display:grid;
  place-items: center;
  }
  .AboutMe__image {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .AboutMe {
  font-size:1em;
   margin-left:0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .AboutMe__image {
    width: 25%;
  }
}

@media only screen and (min-width: 1024px) {
  .AboutMe {


    top: 400px;
   
  }

 
}